<div *ngIf="hero">
  <h1 id="title">{{ hero.name | uppercase }}</h1>

  <mat-card>
    <mat-card-content fxLayout="column">
      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput disabled [value]="hero.id">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>NAME</mat-label>
        <input 
          matInput 
          disabled 
          type="text"
          placeholder="Name" 
          [value]="hero.name"
        >
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Go back</button>
    </mat-card-actions>
  </mat-card>

</div>