/* You can add global styles to this file, and also import other style files */

:root {
  --blue-padrao: #4d50ff;
  --primary: #0275d8;
  --success: #5cb85c;
  --info: #5bc0de;
  --warning: #f0ad4e;
  --danger: #d9534f;
  --inverse: #292b2c;
  --faded: #f7f7f7;
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--faded);
}

